<?xml version="1.0"?>
<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

    <param name="base_frame" value="base_footprint"/>

    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="3.9"/>
    <param name="maxRange" value="15.0"/>
    <param name="sigma" value="0.01"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.01"/>
    <param name="astep" value="0.01"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.05"/>
    <param name="angularUpdate" value="0.05"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="10"/>
  
    <param name="xmin" value="-30.0"/>
    <param name="ymin" value="-30.0"/>
    <param name="xmax" value="30.0"/>
    <param name="ymax" value="30.0"/>

    <param name="delta" value="0.03"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
  </node>  
  
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <!--
        <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />-->

        <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <rosparam file="$(find turtlebot_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/move_base_params.yaml" command="load" />


<!--   
    <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find explorer)/param/turtlebot_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/turtlebot_global_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/base_local_planner_params.yaml" command="load" />
-->
        <param name="global_costmap/map_topic" value="map_merger/global_map" />
        <param name="local_costmap/map_topic" value="map_merger/global_map" />

        <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
        <remap from="odom" to="$(arg odom_topic)"/>

<!--    <remap from="cmd_vel" to="cmd_vel_mux/input/navi_raw"/> -->
    </node>  
</launch>