<?xml version="1.0"?>
<launch>
	
    <arg name="use_sim_time" default="false" />
    <arg name="robot_name" default="robot_x"/>
    <arg name="interface" default="wlan0" />

    <arg name="mac" default="02:01:00:00:00:00" />
    <arg name="sim_robot_macs" default="robot_0,02:01:00:00:00:00!robot_1,02:02:00:00:00:00"/>
    
    <param name="use_sim_time"  value="$(arg use_sim_time)"/>

	<include file="$(find adhoc_communication)/launch/adhoc_communication.launch">
        <arg name="log_path" value="logs/15-11-20/14-06-42/1" />
        <arg name="robot_name" value="$(arg robot_name)" />
	    <!--<arg name="robot_prefix" value="$(arg robot_prefix)" />-->
        <arg name="interface" value="$(arg interface)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="mac" value="$(arg mac)" />
        <!--<arg name="sim_robot_macs" value="$(arg sim_robot_macs)" />-->
        <arg name="output" value="screen" />
    </include>
    <!--
    <include file="$(find tf_sim)/launch_real/move_base.launch">
        <arg name="robot" value="$(arg robot_name" />
        <arg name="output" value="log" />
    </include>-->
    <!--<include file="$(find tf_sim)/launch_real/mapping.launch">
        <arg name="robot" value="$(arg robot_name)" />
	    <arg name="robot_local_map_frame" value="map" />
        <arg name="output" value="log" />
        <arg name="log_path" value="logs/15-11-20/14-06-42/1" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="xmax" value="35" />
        <arg name="xmin" value="-35" />
        <arg name="ymax" value="35" />
        <arg name="ymin" value="-35" />
    </include>-->
    

     <!-- ******************************************************************************* -->
  <!-- ********** START THE GMAPPING NODE ********** -->
  <!-- ******************************************************************************* -->

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">

    <param name="base_frame" value="base_footprint"/>

    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="6.0"/>
    <param name="maxRange" value="20.0"/>

    <param name="~maxUrange" value="6.0"/>
    <param name="~maxRange" value="20.0"/>

    <param name="sigma" value="0.01"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.01"/>
    <param name="astep" value="0.01"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.05"/>
    <param name="angularUpdate" value="0.05"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="10"/>
  
    <param name="xmin" value="-30.0"/>
    <param name="ymin" value="-30.0"/>
    <param name="xmax" value="30.0"/>
    <param name="ymax" value="30.0"/>

    <param name="delta" value="0.05"/>

    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    
  </node>

  <!-- ******************************************************************************* -->
  <!-- ********** START MOVE BASE ********** -->
  <!-- ******************************************************************************* -->
  <include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/safety_controller.launch.xml"/>

    <arg name="odom_topic" default="odom" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base">

        <!--
        <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />-->

        <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="local_costmap" />


        <!--<rosparam file="$(find turtlebot_navigation)/param/dwa_local_planner_params.yaml" command="load" />-->

        <rosparam file="$(find turtlebot_navigation)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/move_base_params.yaml" command="load" />
        
   
   <!-- <rosparam file="$(find explorer)/param/turtlebot_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/turtlebot_global_costmap_params.yaml" command="load" />-->

    <!--<rosparam file="$(find explorer)/param/base_local_planner_params.yaml" command="load" />-->
<!--
        <rosparam file="$(find turtlebot_navigation)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find turtlebot_navigation)/param/dwa_local_planner_params.yaml" command="load" />
-->
        <param name="global_costmap/map_topic" value="map_merger/global_map" />
        <param name="local_costmap/map_topic" value="map_merger/global_map" />
<!-- -->
        <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
        <remap from="odom" to="$(arg odom_topic)"/>


<!--    <remap from="cmd_vel" to="cmd_vel_mux/input/navi_raw"/> -->
    </node>

    <include file="$(find map_merger)/launch/map_merger.launch" output="screen">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="robot_prefix" value="" />
        <arg name="robot_local_map_frame" value="map" />
        <arg name="output" value="screen" />
        <arg name="log_path" value="logs/15-11-20/14-06-42/1" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="max_rotation_robots" value="10"/>
        <param name="exchange_position" value="true" />
        <param name="seconds_recompute_transform" value="25" />
    </include>

<!--
    <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="local_costmap" />-->
    <!--
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />-->

    <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="local_costmap" />


    <include file="$(find explorer)/launch/simple_navigation_turtlebot.launch">
        <arg name="log_path" value="logs/15-11-20/14-06-42/1" />

        <!-- 
         ********* EXPLORATION STRATEGY ************
         * 0 ... Navigate to nearest frontier TRAVEL PATH
         * 1 ... Navigate using auctioning with cluster selection using 
         *       NEAREST selection (Kuhn-Munkres)
         * 2 ... Navigate to furthest frontier
         * 3 ... Navigate to nearest frontier EUCLIDEAN DISTANCE
         * 4 ... Navigate to random Frontier
         * 5 ... Cluster frontiers, then navigate to nearest cluster 
         *       using EUCLIDEAN DISTANCE (with and without
         *       negotiation)
         * 6 ... Cluster frontiers, then navigate to random cluster
         *       (with and without negotiation)
         -->

<!--
        <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="local_costmap" />-->
        <!--
        <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />-->

        <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tf_sim)/launch_real/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <arg name="frontier_selection" value="1" />
    </include>

</launch>
