<?xml version="1.0"?>
<launch>

    <node name="stage" pkg ="stage_ros" type="stageros" args="$(find tf_sim)/worlds/world_Uni.world" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tf_sim)/stage.rviz" /> 


    <arg name="use_sim_time" default="true" />
    <param name="use_sim_time"  value="$(arg use_sim_time)"/>

    <arg name="mac" default="03:00:00:00:00:00" />
	<arg name="sim_robot_macs" default="robot_0,02:00:00:00:00:00!robot_1,02:01:00:00:00:00!robot_2,02:02:00:00:00:00!robot_3,04:03:00:00:00:00!BASE,03:00:00:00:00:00"/>


    <arg name="robot_name" default="robot_9"/>
    <arg name="interface" default="wlan0" />
    <arg name="robot_prefix" default="/robot_9" />

	<group ns="robot_9">
	    <include file="$(find adhoc_communication)/launch/adhoc_communication.launch">
            <arg name="log_path" value="logs/15-11-20/14-06-42/1" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="robot_prefix" value="$(arg robot_prefix)" />
            <arg name="interface" default="$(arg interface)" />
            <arg name="use_sim_time" value="false" />
            <arg name="output" value="screen" />
        </include>
    
    <!--
        <include file="$(find map_merger)/launch/map_merger.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="robot_prefix" value="$(arg robot_prefix)" />
            <arg name="output" value="log" />
            <arg name="log_path" value="logs/15-11-20/14-06-42/1" />
            <arg name="use_sim_time" value="$(arg use_sim_time)" />
            <arg name="has_local_map" value="false"/>
            <arg name="max_rotation_robots" value="360"/>
            <param name="exchange_position" value="true" />
            <param name="seconds_recompute_transform" value="25" />
        </include>-->
    

        <node pkg="explorer" type="explorationRemoteController" name="explorerController" output="screen" respawn="true">
            <param name="use_sim_time" value="$(arg use_sim_time)" />
            <param name="robot_name" value="$(arg robot_name)" />
            <param name="robot_prefix" value="$(arg robot_prefix)" />
        </node>
    </group>

</launch>
