<?xml version="1.0"?>
<launch>
    
    <arg name="use_sim_time" default="true" />
    <param name="use_sim_time"  value="$(arg use_sim_time)"/>

    <group ns="robot_2">
        <include file="$(find tf_sim)/launch_sim_multi_robot/robot.launch" >
            <arg name="robot_name" value="robot_2"/>
            <arg name="robot_prefix" value="/robot_2" />
            <args name="use_sim_time" value="$(arg use_sim_time)"/>
            <arg name="output" value="screen"/>
            <arg name="interface" default="wlan0" />
        </include>
    </group>

</launch>
